<%- include('./layouts/header') %> 

<div class="box-header text-center">Highest rated</div>
<div class="row">
    <% rating.forEach(list => { %>
        <div class="col-lg-2 col-md-3 col-6">
            <a href="/show?search=<%= list.id %> ">
                <img class="poster" src="<%= list.medium_cover_image %> " alt="">
                <span class="bg-success text-white pt-1 pb-1 pl-3 pr-3 font-weight-bold shadow rounded"><%= list.rating %> </span>
                <div class="text-light">
                    <p class="font-weight-bold"><%= list.title_english %> </p>
                </div>
            </a>
        </div>
    <% }) %> 
</div>

<%- include('./layouts/footer') %> 