<%- include('./layouts/header') %> 

<div class="row">
    <div class="col-md-3" data-aos="zoom-out">
        <img class="cover mt-3" src="<%= details.medium_cover_image %> " alt="...">
    </div>
    <div class="col-md-8">
        <div class="p-4">
            <p class="h1 uk-text-uppercase text-light" data-aos="zoom-in">
                <%= details.title_english %>
            </p>
            <hr class="uk-divider-small">
            <p>
                <span class="font-weight-bold text-light">ImDb : </span>
                <span class="bg-success text-white pt-1 pb-1 pl-3 pr-3 font-weight-bold shadow rounded">
                    <%= details.rating %>
                </span>
            </p>
            <p>
                <span class="font-weight-bold text-light">Year : </span>
                <%= details.year %> 
            </p>
            <p>
                <span class="font-weight-bold text-light">Runtime : </span>
                <%= details.runtime %> min 
            </p>
            <p>
                <span class="font-weight-bold text-light">Genre(s) : </span>
                <span class="text-break"><%= details.genres %></span> 
            </p>
            <p>
                <span class="font-weight-bold text-light">Like Count : </span>
                <%= details.like_count %> 
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
        <div class="description">
            <p class="h3 font-weight-bold text-light">Synopsis : </p>
            <p class="pt-4"><%= details.description_intro %></p>
        </div>
    </div>
</div>


<%- include('./layouts/footer') %> 