<%- include('./layouts/header') %> 

<div class="box-header text-center">Results</div>

<div class="row">
<% search.forEach(search => { %> 
    <div class="col-lg-2 col-md-3 col-6" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
        <a href="/show?search=<%= search.id %> ">
            <img class="poster" src="<%= search.medium_cover_image %>" alt="..."> 
            <p class="text-light text-center font-weight-bold"><%= search.title %></p> 
        </a>
    </div>
    <% }) %>  
</div>

<%- include('./layouts/footer') %> 

